$nst-space-quarter: 2px;
$nst-space-half: 4px;
$nst-space-1x: 8px;
$nst-space-1x-and-half: 12px;
$nst-space-2x: 16px;
$nst-space-3x: 24px;
$nst-space-4x: 32px;
$nst-space-5x: 40px;
$nst-space-6x: 48px;
$nst-space-7x: 56px;
$nst-space-8x: 64px;
$nst-space-9x: 72px;
$nst-space-10x: 80px;
